@import "tailwindcss";

@theme{
  --color-ink: #3E2723; /* Espresso */
  --color-canvas: #F5F1E6; /* Soft linen */
  --color-petal: #F9A8BB; /* Cherry blossom */
  --color-peony: #F4C9D6;
  --color-blush: #E36887;
}

body{
  background: var(--color-canvas);
  color: var(--color-ink);
}

.decoration-wavy{
  text-decoration-style: wavy;
}

/* Selection */
::selection{
  background-color: var(--color-peony);
  color: var(--color-ink);
}

/* Scrollbar */
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: var(--color-canvas);
}

::-webkit-scrollbar-thumb{
  background-color: var(--color-peony);
  border-radius: 20px;
  border: 3px solid var(--color-canvas);
}
