@import "tailwindcss";

@theme {
  --color-ink: #3E2723; /* Espresso */
  --color-canvas: #F5F1E6; /* Soft linen */
  --color-petal: #F9A8BB; /* Cherry blossom */
  --color-peony: #F4C9D6;
  --color-blush: #E36887;
}

body {
  background: var(--color-canvas);
  color: var(--color-ink);
}
